html {
  background-color: var(--mauve);
  font-size: 62.5%;
}

body {
  background: linear-gradient(-45deg, var(--base) 50%, var(--mauve) 100%);
  height: max-content;
  letter-spacing: 0.04em;
}

#chat {
  width: 100vw;
  height: 100vh;
  padding: 0 0 3.6rem 0;
  box-sizing: border-box;
  overflow: hidden;
}
