:root {
  --font-size-50: 1.4rem;
  --font-size-100: 1.8rem;
  --font-size-200: 2.4rem;
  --font-size-300: 3rem;
  --font-size-400: 3.6rem;
  --font-size-500: 4.2rem;
  --padding-50: 0.4rem;
  --padding-100: 0.8rem;
  --padding-200: 1.6rem;
  --padding-300: 2rem;
  --padding-400: 2.4rem;
}

@media (max-width: 600px) {
  :root {
    --font-size-50: 1.3rem;
    --font-size-100: 1.6rem;
    --font-size-200: 2rem;
    --font-size-300: 2.4rem;
    --font-size-400: 3rem;
    --font-size-500: 3.6rem;
  }
}
