.container {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .container {
    width: 95%;
  }
}
